body {
  position:relative;
  background: url("D:\PARSONS\大二上\Interaction\sizhenchen_cif22\sizhenchen.github.io\imgs\paper.jpg");
}
h1 { color: rgb(0, 0, 0);
    font-family: Sunflower;
    font-size: 300%;
    text-align: center;
    margin-top: 20px;
  }
.container{
  height: fit-content;
  display: flex;
  text-align: center;
  display: inline-block;
}

img{
  position:absolute;
  right: 0px;
  width: 1000px;
  padding: 0px;
  border: 1mm;
}
span{
  font-family: Sunflower;
  font-size: 50px;
  margin-left: 50px;
  line-height:100px;
  min-width: 300px;
}