.bg {
  /* The image used */
  background: url("https://i.pinimg.com/564x/03/a1/97/03a197b49c65d789d0c32cedca6a7a86.jpg");

  width: 1500px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 
{ color: rgb(0, 0, 0);
    font-family: Sunflower;
    font-size: 300%;
    text-align: center;
    margin-top: 20px;
  }
.container{
  height: fit-content;
  display: flex;
  text-align: left;
  display: inline-block;

}

img{
  position:absolute;
  right: 0px;
  width: 1000px;
  padding: 0px;
  
}
.span1{
  font-family: Sunflower;
  font-size: 50px;
  margin-left: 50px;
  line-height:100px;
  min-width: 300px;
}
.container2{
  height: fit-content;
  display: flex;
  text-align: left;
  display: inline-block;
  margin-top: 80px;
  margin-right: 0px;
}
.span2{
  font-family: Sunflower;
  font-size: 50px;
  margin-right: 50px;
  margin-left: 40px;
  line-height:100px;
  min-width: 300px;
}
.container3{
  height: fit-content;
  display: flex;
  text-align: center;
  display: inline-block;
  margin-top: 100px;
  margin-right: 0px;
}
.span3{
  font-family: Sunflower;
  font-size: 50px;
  margin-left: 40px;
  line-height:50px;
  min-width: 300px;
}
.fixed {
  position: fixed;
}