.parent { 
    display: grid; 
    grid: 120px 120px 120px 120px 120px 120px / auto auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    /*background-color: antiquewhite;*/
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-item-left {
    padding: 10px;
    flex: 50%;
}
.flex-item-right {
    padding: 10px;
    flex: 50%;
}
img { 
    display: inline-block; 
    height:100px; 
    width:auto;   
}
#let1{
    margin: 00px;
}
.div1{
    grid-area: 1 / 1 / 1 / 3;
    background: url(https://i.pinimg.com/564x/14/19/12/141912fb57840ded5cac8369439a8f00.jpg);
} 
    
